[submodule "lib/dustlib"]
	path = lib/dustlib
	url = git@github.com:starduststorm/dustlib.git
[submodule "lib/FastLED"]
	path = lib/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "lib/kissfft"]
	path = lib/kissfft
	url = https://github.com/mborgerding/kissfft.git
